html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    }
nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}
body{
    background-color: #F436A0;
}
/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #F436A0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}

header nav ul li:hover ul {
    display: block;
    border-radius: 0.3vw;
    background-color: white;
    line-height: 3vw;
}

header nav ul li:hover ul li a {
    color: #3c0a5a;
}

header nav ul li ul {
    position: absolute;
    display: none;
}

header nav ul li ul li {
    color: #391665;
}

header nav ul li ul li a:hover {
    background-color: #3c0a5a;
    color: white;
}

/* === Beneficios === */
section.beneficios{
    background-color: #85289A;
    color: #FFFFFF;
    height: fit-content;
    border-radius: 0 0 4vw 4vw;

    h2 {
    font-weight:bold;
    text-align: left;
    font-size: 4em;
    color: #FFFFFF;
    padding-bottom: 4vw;
    }
}
section.beneficios div{
    padding-top: 3vw;
    justify-content: start;
    margin-left: 8vw;
}