html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    }
nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}
body{
    background-color: #F436A0;
}
/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #F436A0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}

header nav ul li:hover ul {
    display: block;
    border-radius: 0.3vw;
    background-color: white;
    line-height: 3vw;
}

header nav ul li:hover ul li a {
    color: #3c0a5a;
}

header nav ul li ul {
    position: absolute;
    display: none;
}

header nav ul li ul li {
    color: #391665;
}

header nav ul li ul li a:hover {
    background-color: #3c0a5a;
    color: white;
}

/* === Beneficios === */
section.beneficios{
    background-color: #85289A;
    color: #FFFFFF;
    height: 30vw;
    border-radius: 0 0 4vw 4vw;
}
section.beneficios div{
    padding-top: 3vw;
    justify-content: start;
    margin-left: 8vw;
}
section.beneficios div h2{
    font-weight: bold;
    text-align: left;
    font-size: 4rem;
    color: #FFFFFF; 
}
/* img */
section.img img{
    height: fit-content;
    width:  fit-content;
    padding-top: 7vw;
}
section.img {
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* beneficios */
section.natureza{
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:  5rem;
}
section.natureza div{
    padding-top: 2  vw;
}
section.natureza div h3{
    background-color: #F38E34;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 3vw;
}
.natureza div h3.con{
    padding: 2vw 2vw 2vw 2vw;
    margin: 0 8vw 0 10vw;
    width: 25%;
}
.natureza div p.um{
    font-weight:bold;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 4vw;
    padding-top: 4vw;
    padding-left: 12vw;
}
.natureza div h3.ben{
    padding: 2vw 2vw 2vw 2vw;
    margin: 0 8vw 0 60%;
    width: 25%;
}
.natureza div p.dois{
    font-weight:bold;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 4vw;
    padding-top: 4vw;
    padding-left: 12vw;  
}
/* FOOTER */
footer {
    background-color: #431A78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem;
    margin: 0;
    margin-top: 5vw;
    transform: translateY(-1.5vw);
}

footer a.logo img {
    height: 4rem;
    width: 4rem;
    margin: 0 0 0 2rem;
}

footer ul {
    display: flex;
}

footer ul li {
    justify-content: space-between;
}

footer ul img {
    height: 3rem;
    width: 3.2rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}