html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    text-decoration: none;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
    color: #007777;
    background: white;
}

nav a.Home {
    text-decoration: none;
    color: white;
    display: flex;
}

#atual {
    font-weight: bold;
}

.Home img {
    width: 30px;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.Home:hover img {
    transform: rotate(180deg);

}

button {
    text-decoration: none;
}

body {
    background-color: #F9E6D0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

nav a {
    text-decoration: none;
    color: white;

}

/* === TOPO === */

/* === Parte Um === */

section.parteUm {
    height: max-content;
    width: auto;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

section.parteUm ul {
    text-align: center;
    align-items: center;
}

section.parteUm ul li {
    background-color: #F9E6D0;
    display: flex;
    justify-content: space-around;
    height: 58vw;
    z-index: 0;

}

.parteUm div.img {
    border-radius: 25px;
    height: min-content;
    margin-top: 5vw;

    img {
        border-radius: 25px;
        box-shadow: 0 0 0 #000;
    }
}

/*img{
    margin: auto auto 25vw;
    height: 50%;
    border-radius: 25px;
    border: 3vw solid #237470;
    }*/

section.parteUm div {
    text-align: left;
}

section.parteUm div h2 {
    font-size: 4.5rem;
    color: #237470;
    font-weight: bold;
    line-height: 6vw;
    margin-top: 2vw;
}

section.parteUm div p {
    color: #8C6A5B;
    padding: 2vw 0 1vw 0;
    font-size: 1.5rem;
}

section.parteUm div button {
    padding: 0.7vw 3vw 0.7vw 3vw;
    margin-top: 1vw;
    background: #237470;
    border: none;
    border-radius: 26px;
    font-size: 0.7rem;
    color: white;
}

section.parteUm div button a {
    text-decoration: none;
}

/*    PARTE DOIS    */

section.parteDois {
    background-color: #F9E6D0;
    padding: 0 15vw;
    max-width: 1200px;
    /* Largura máxima para evitar que ocupe toda a tela em dispositivos grandes */
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

section.parteDois div {
    text-align: center;
}

section.parteDois div article {
    margin: auto;
    border-radius: 20px;
    padding: 2vw 2.5vw;

    h3 {
        font-size: 4rem;
        font-weight: bold;
        color: #237470;
        padding: 2vw 6vw 2vw 4vw;
        text-shadow: 2px 2px 2px;
        text-align: center;
    }
}

p,
h4 {
    color: white;
}

h4 {
    border-bottom: 1px solid #fff;
    line-height: 5vw;
    color: #ffffff;
    font-weight: bold;
}

section.parteDois div br {
    display: block;
    margin-bottom: 8px;
}

section.parteDois div ul li p {
    margin: 2vw 4vw 2vw 4vw;
    font-size: 1.8rem;
    color: #ffffff;
}

section.parteDois div ul.um {
    display: flex;
    justify-content: space-between;
    margin: 5vw 10vw 5vw 10vw;
}


section.parteDois div ul.dois {
    text-align: center;
    margin: 5vw auto;
    color: #1a6a6a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

section.parteDois div ul.dois li a {
    text-decoration: none;
    text-align: center;
    width: 112px;
    font-size: 1rem;
    padding: 0.4vw 0.6vw;
    color: #ffffff;
    background: linear-gradient(#237470) padding-box,
        linear-gradient(to right, white, gray) border-box;
    border: 2px solid transparent;
    border-radius: 60px;
    cursor: pointer;
}

section.parteDois div ul.dois li h4 {
    font-size: 1.8rem;
}

section.parteDois div ul.dois p {
    text-align: center;
    padding: 1vw;
    font-size: 1.2rem;
    line-height: 2vw;
}

.parteDois div ul {

    .um,
    .dois,
    .tres,
    .quatro,
    .cinco {
        text-align: center;
        background-color: #237470;
        border-radius: 50px;
        line-height: 2.3rem;
    }
}

.um {
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    transition: 0.4s;

}

.um:hover {
    transform: scale(1.03);

}

.tres {
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    transition: 0.4s;
}

.tres:hover {
    transform: scale(1.03);

}

.quatro {
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    transition: 0.4s;
}

.quatro:hover {
    transform: scale(1.03);

}

.cinco {
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    transition: 0.4s;
}

.cinco:hover {
    transform: scale(1.03);
}


/*   PARTE TRES    */

section.parteTres {
    display: flex;
    background-color: #F9E6D0;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

section.parteTres div {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 4rem 4rem 0 0;
    margin: 0 auto;
}

section.parteTres div img {
    max-width: 60%;
    height: auto;

}

section.parteTres div ol {
    border-radius: 30px;
    background-color: #237470;
    padding: 2vw 2vw 4vw 2vw;
    width: auto;
    height: auto;
    max-width: 60%;
}



section.parteTres div ol li h4 {
    color: #ffffff;
    padding: 2.5vw;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    line-height: 6.5vw;
}
.parteTres div ol li p{
    max-width: 60%;
}
section.parteTres div ol li {
    color: white;
    padding: 20px 20px;
    font-size: 1.8rem;
    text-align: left;
}

section.parteTres div ol li.p {
    border-radius: 0 0 1.8rem 1.8rem;
}

section.parteTres div ol li.titulo {
    border-radius: 1.8rem 1.8rem 0 0;
}

/* PARTE QUATRO */

section.parteQuatro {
    max-width: 1200px;
    margin: 0 auto;
}

section.parteQuatro div {
    background-color: #F9E6D0;
    border-radius: 4rem 4rem 0 0;

}

section.parteQuatro div h4 {
    color: #236C74;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4rem;
}

section.parteQuatro div h4 {
    display: block;
    line-height: 4rem;
    margin-bottom: 8px;
}

/* ul */

section.parteQuatro div ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    text-align: center;
    margin: 5vw auto;
}

section.parteQuatro div ul li {
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 2rem;
    background-color: #236C74;
    height: auto;
    width: calc(50% - 10px);
    box-sizing: border-box;
}

section.parteQuatro div ul li h5 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.2rem 2rem 1rem 2rem;
}

/* FOOTER */
footer {
    display: flex;

    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #237470;
    padding: 1vw;

}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: white;
    color: #1a6a6a;
    border-radius: 50%;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    background: linear-gradient(135deg, #00b7ff, #007777);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #00b7ff;
}

footer .insta:hover {
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285AEB 90%);
    color: white;
    box-shadow: 0 0 15px rgba(253, 89, 73, 0.6);
}


.X:hover {
    background: linear-gradient(135deg, #302f2f, #000);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #000;
}

.nos {
    font-size: 25px;
    padding: 1vw;
}

.social {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.direitos {
    padding: 1vw;
}

.direitos i {
    transition: 0.3s;
}

.direitos i:hover {
    color: red
}


/* === Responsividade === */
@media (max-width: 768px) {

    .parteUm {
        flex-direction: column;
        
        padding: 3rem 1rem;
        margin: 4vw 0;
    }
    .parteUm ul{
        height: 150vw;
    }
    .parteUm ul li div.texto {
        text-align: center;
    }

    .parteUm ul li div h2 {
        font-weight: bold;
        line-height: 3.6rem;
    }

    .parteUm .img {
        display: none;
    }

    .parteUm h2 {
        font-size: 2.5rem;
    }

    .parteUm p {
        font-size: 1.4rem;
    }

    .parteDois div article h3.titulo{
        font-size: 3rem;
    }
    .parteDois div ul.dois li.um h4 {
        padding: 1.5vw 0 0 0;
        font-size: 1rem;
            }

    .parteDois div ul.dois li.um p {
        padding: 0vw 2vw 1vw 2vw;
        line-height: 4vw;
        margin: 3vw 2vw 1vw 3vw;
    }

    .parteDois div ul.dois li.tres h4 {
        padding: 1.5vw 0 0 0;
        font-size: 1rem;
            }

    .parteDois div ul.dois li.tres p {
        padding: 0vw 2vw 1vw 2vw;
        line-height: 4vw;
        margin: 3vw 2vw 1vw 3vw;
    }
    .parteDois div ul.dois li.quatro h4 {
        padding: 1.5vw 0 0 0;
        font-size: 1rem;
            }

    .parteDois div ul.dois li.quatro p {
        padding: 0vw 2vw 1vw 2vw;
        line-height: 4vw;
        margin: 3vw 2vw 1vw 3vw;
    }
    .parteDois div ul.dois li.cinco h4 {
        padding: 1.5vw 0 0 0;
        font-size: 1rem;
            }

    .parteDois div ul.dois li.cinco p {
        padding: 0vw 2vw 1vw 2vw;
        line-height: 5vw;
        margin: 3vw 2vw 1vw 3vw;
    }


    section.parteTres {
        display: flex;
        background-color: #F9E6D0;
        justify-content: space-between;
        margin: auto 0;
    }

    section.parteTres div {
        align-items: center;
        padding: 1.5rem;
        border-radius: 4rem 4rem 0 0;
        display: flex;
        flex-direction: column;
    }

    .parteTres {
        
    }

    section.parteTres div img {
        display: none;
    }

    section.parteTres div ol {
        border-radius: 30px;
        background-color: #237470;
        padding-bottom: 2rem;
        
        width: auto;
        text-align: center;

    }

    section.parteTres div ol li h4 {
        
        color: #ffffff;
        
        font-size: 1.6rem;
        font-weight: bold;
        border: none;
        line-height: 2.5rem;
    }

    section.parteTres div ol li {
        color: white;
        width: auto;
        font-size: 1rem;
        text-align: center;
    }

    section.parteTres div ol li.p {
        border-radius: 0 0 1.8rem 1.8rem;
    }

    section.parteTres div ol li.titulo {
        border-radius: 1.8rem 1.8rem 0 0;
    }



    section.parteQuatro div ul {
        align-items: center;
        padding-left: 15vw;
    }

    section.parteQuatro div ul li {
        width: 70%;
        margin-right: 2vw;
        margin-left: 4vw
    }

    .parteQuatro div h4 br {
        display: none;
    }

    .parteQuatro div h4 {
        line-height: 4rem;
    }

    section.parteUm,
    section.parteDois,
    section.parteTres,
    section.parteQuatro {
        max-width: 100%;
        margin: 0;
        padding: 0 1rem;
    }


}