html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    text-decoration: none;
    overflow-x: hidden;
}

nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    display: flex;

}

.Home img {
    width: 30px;
 transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.Home:hover img {
  transform: rotate(180deg);

}




button {
    text-decoration: none;
}


body {
    background-color: #F9E6D0;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

}

nav a {
    text-decoration: none;
    color: white;

}

/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #237470;
    position: relative;
    z-index: 99999 !important;
    pointer-events: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}


header nav ul li:hover ul  {
    display: block;
    border-radius: 20px;
    background-color: white;
    line-height: 2vw; 
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;




}

header nav ul li:hover ul li a {
    color: #237470;
    
}

header nav ul li ul {
    position: absolute;
    display: none;
}

header nav ul li ul li {
    color: #391665;
}

header nav ul li ul li a:hover {
  
    border-radius: 15px;
    padding: 0.2vw;
    color: #237470;
}

/* === Parte Um === */

section.parteUm {
    background-color: #237470;
    height: 48vw;
    width: 100vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    overflow: hidden;
}

section.parteUm ul {
    text-align: center;
    align-items: center;
}

section.parteUm ul li {
    
    background-color: #F9E6D0;
    display: flex;
    justify-content: space-around;
    height: 58vw;
    z-index: 0;

}
.parteUm div.img{
        border-radius: 25px;
        padding: 2vw 3vw;
    
        height: min-content;
        background-color: #237470;
        margin-top: 5vw;
        img {
            border-radius: 25px;
            box-shadow: 0 0 0  #000;
        }
    }
/*img{
    margin: auto auto 25vw;
    height: 50%;
    border-radius: 25px;
    border: 3vw solid #237470;
    }*/

section.parteUm div {
    text-align: left;
   
}

section.parteUm div h2 {
    font-size: 4.5rem;
    color: #237470;
    font-weight: bold;
    line-height: 6vw;
    margin-top: 2vw;
}

section.parteUm div p {
    color: #8C6A5B;
    padding: 2vw 0 1vw 0;
    font-size: 1.5rem;
}

section.parteUm div button {
    padding: 0.7vw 3vw 0.7vw 3vw;
    margin-top: 1vw;
    background: #237470;
    border: none;
    border-radius: 26px;
    font-size: 0.7rem;
 
}

  


section.parteUm div button a {
    color: white;
    text-decoration: none;
}

/*    PARTE DOIS    */

section.parteDois {
    background-color: #F9E6D0;
    padding: 4px;
}

section.parteDois div {
    text-align: center;
}

section.parteDois div article {
    margin: auto;
    border-radius: 20px;
    padding: 2vw 2.5vw;

    h3 {
        font-size: 4rem;
        font-weight: bold;
        color: #237470;
        padding: 2vw 6vw 2vw 4vw;

        text-shadow: 2px 2px 2px;
        text-align: right;
    }
}

p, h4 {
    color: white;
}

h4 {
    border-bottom: 1px solid #fff;
    line-height: 5vw;
    
}
section.parteDois div br {
    display: block;
    margin-bottom: 8px;
}

section.parteDois div p {
    margin: 9vw 8vw 4vw 1vw;
    font-size: 1.8rem;
}

section.parteDois div ul.um {
    display: flex;
    justify-content: space-between;
    margin: 5vw 10vw 5vw 10vw;
}


section.parteDois div ul.dois {
    text-align: center;
    margin: 5vw 10vw 5vw 5vw;

}






section.parteDois div ul.dois li a {
text-decoration: none;
    text-align: center;
    width: 112px;
    font-size: 1rem;
    padding: 0.4vw 0.6vw;
    color: white;
    background: linear-gradient(#237470) padding-box, 
                linear-gradient(to right, white, gray) border-box;
    border: 2px solid transparent;
    border-radius: 60px;
    cursor: pointer;
}

section.parteDois div ul.dois li h4 {
    font-size: 1.8rem;
   
}

section.parteDois div ul.dois p {
    text-align: center;
    padding: 1vw;
    font-size: 1.2rem;
    line-height: 2vw;
}
    .parteDois div ul {
        .um, .dois, .tres, .quatro, .cinco {   
            text-align: center;
            background-color: #237470;
            border-radius: 50px;    
            line-height: 2.3rem;
          
}
    }

    .um {
    margin-bottom: 2vw;
    padding-bottom: 1vw;
    transition: 0.4s;
     
}
    .um:hover {
       transform: scale(1.03);
        
    }
    .tres {
    margin-bottom: 2vw; padding-bottom: 1vw;
       transition: 0.4s;
}
    .tres:hover {
       transform: scale(1.03);
      
    }
    .quatro {
    margin-bottom: 2vw; padding-bottom: 1vw;
      transition: 0.4s;
}
    .quatro:hover {
       transform: scale(1.03);
       
    }
    .cinco {
    margin-bottom: 2vw; padding-bottom: 1vw;
     transition: 0.4s;
}
    .cinco:hover {
       transform: scale(1.03);
        
        
    }




/*   PARTE TRES    */

section.parteTres {
    display: flex;
    background-color: #F9E6D0;
    justify-content: space-between;
}

section.parteTres div {
    display: flex;
    align-items: center;
    padding: 8rem 16.4rem 10rem 9rem;
    background-color: #F9E6D0;
    border-radius: 4rem 4rem 0 0;
}

.parteTres {
    align-items: center;
}
section.parteTres div img {
    height: 20rem;
    width: 20rem;
}

section.parteTres div ol {
    border-radius: 30px;
    background-color: #237470;
    padding-bottom: 2rem;
}

section.parteTres div ol li {
}

section.parteTres div ol li h4 {
    color: #ffffff;
    padding: 2rem 2rem 0 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    line-height: 3.5vw;
}

section.parteTres div ol li {
    color: white;
    padding: 1vw 5vw;
    font-size: 30px;
    text-align: center;
}

section.parteTres div ol li.p {
    border-radius: 0 0 1.8rem 1.8rem;
}

section.parteTres div ol li.titulo {
    border-radius: 1.8rem 1.8rem 0 0;
}

/* PARTE QUATRO */

section.parteQuatro {
    background-color: #F9E6D0;
}

section.parteQuatro div {
    background-color: #F9E6D0;
    border-radius: 4rem 4rem 0 0;

}

section.parteQuatro div h4 {
    color: #236C74;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4rem;
}

section.parteQuatro div h4  {
    display: block;
    line-height: 7vw;
    margin-bottom: 8px;
}

/* ul */

section.parteQuatro div ul {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5vw;
    color: white;
    text-align: center;
    margin: 1rem;
}

section.parteQuatro div ul li {
    margin: 2.5rem;
    padding: 3.2rem;
    border-radius: 2rem;
    background-color: #236C74;
    height: 7vw;
    width: 30vw;
}

section.parteQuatro div ul li h5 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1.6px 2px 10px #FDEEFF;
    padding: 0.2rem 2rem 1rem 2rem;
}

/* FOOTER */
footer  {
display: flex;
   
    gap: 20px;
   align-items: center;
   text-align: center;
   justify-content: center;
    background-color: #237470;
    padding: 1vw;
  
}

footer a {
     display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: white;
    color: #1a6a6a;
    border-radius: 50%;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

footer a:hover {
     background: linear-gradient(135deg, #00b7ff, #007777);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #00b7ff;
}

footer .insta:hover {
    background: radial-gradient(circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%);
    color: white;
    box-shadow: 0 0 15px rgba(253, 89, 73, 0.6);
    }


    .X:hover {
        background: linear-gradient(135deg, #302f2f, #000);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px #000;
    }

    .nos {
        font-size: 25px;
       padding: 1vw;
    }
    .social {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px; 
}
.direitos {
    padding: 1vw;
}
.direitos i {
    transition: 0.3s;
}
.direitos i:hover {
    color: red 
}