
html {
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 0.5vw);
    overflow-x: hidden;
}

body {
    background-color: #F9E6D0;
    margin: 0;
}


header {
    padding: 2vw 6vw;
    background-color: #237470;
    position: relative;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.Home {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.Home img {
    width: 30px;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.Home:hover img {
    transform: rotate(180deg);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 15px;
    position: relative;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li:hover ul {
    display: block;
    position: absolute;
    background: white;
    border-radius: 20px;
    padding: 1vw;
}

header nav ul li ul {
    display: none;
    list-style: none;
}

header nav ul li ul li a {
    color: #237470;
    font-weight: 300;
}







main h2.ref {
    font-size: clamp(2.5rem, 6vw, 6rem);
    font-weight: bold;
    text-align: center;
    color: #236c74;
    margin-top: 8vw;
    margin-bottom: 2vw;
}


main .j p {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: #236c74;
    opacity: 0.7;
    margin-bottom: 6vw;
}


main section.b {
    background: #F9E6D0;
    padding: 5vw 8vw;
    border-radius: 40px 40px 0 0;
}

main section.b h2 {
    font-size: clamp(2rem, 4vw, 4rem);
    color: black;
    margin-top: 5vw;
}

main section.b div {
    background: white;
    padding: 2vw;
    border-radius: 25px;
    margin: 2vw 0;
}

main section.b a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #236c74;
}

.refe p{
    text-align: center;
    padding: 1vw;
    color: #236c74;
    opacity: 0.8;
}

/* FOOTER */
footer  {
    display: flex;
       
        gap: 20px;
       align-items: center;
       text-align: center;
       justify-content: center;
        background-color: #237470;
        padding: 1vw;
        color: white;
      
    }
    
    footer a {
         display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: white;
      
        border-radius: 50%;
        font-size: 1.3rem;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    
    footer a:hover {
         background: linear-gradient(135deg, #00b7ff, #007777);
        color: white;
        transform: scale(1.1);
        box-shadow: 0 0 10px #00b7ff;
    }
    
    footer .insta:hover {
        background: radial-gradient(circle at 30% 107%, 
            #fdf497 0%, 
            #fdf497 5%, 
            #fd5949 45%, 
            #d6249f 60%, 
            #285AEB 90%);
        color: white;
        box-shadow: 0 0 15px rgba(253, 89, 73, 0.6);
        }
    
    
        .X:hover {
            background: linear-gradient(135deg, #302f2f, #000);
        color: white;
        transform: scale(1.1);
        box-shadow: 0 0 10px #000;
        }
    
        .nos {
            font-size: 25px;
           padding: 1vw;
        }
        .social {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    
    .icons {
      display: flex;
      justify-content: center;
      gap: 20px; 
    }
    .direitos {
        padding: 1vw;
    }          

    .direitos i {
        transition: 0.3s;
    
    }
    .direitos i:hover {
        color: red 
     
    }
