html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}

html{

    font-size: calc(12px + 0.8vw);
}
nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;

}
/* === TOPO === */

header{
    padding: 2vw 6vw 2vw 6vw;
    background-color: #732751;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    font-size: 1.5rem;
    font-weight: bold;
}
header nav h1 a{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}
        header nav ul li:hover ul {
            display: block;
            background-color: gray;
        }
        header nav ul li ul{
            position: absolute;
            display: none;
        }

/* ref preta*/ 
main {
    background: #732751;
}
main section {
    background: #000000;
    padding: 5vw;
    border-radius: 0 0 4vw 4vw;
}

main section h1 {
font-size: 120px;
font-weight: bold;
margin-bottom: 4vw;
margin-left: 3vw;
}
main section div  {
background: #732751;
width: 45vw;
border-radius: 25px;
margin-bottom: 5vw;
}

main section div p {
padding: 1.5vw;
font-size: 50px;
opacity: 70%;
}

h1, h2, p, a{
    color: #FFFFFF;
}

/* conteudo */

main h2 {
    font-size: 70px;
}



