html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}

nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #2CABA6;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}

header nav ul li:hover ul {
    display: block;
    background-color: gray;
}

header nav ul li ul {
    position: absolute;
    display: none;
}

/*SAUDE FISICA*/
section{
    background-color: #2CABA6;
}
section.saudefisica ul{
    display: flex;
    justify-content: space-between;
    background-color: #F436A0;
    height: 48vw;
    border-radius: 0 0 6vw 6vw;
    
}

section.saudefisica div.texto {
    padding: 0vw 0 0vw 7vw;
}
section.saudefisica div.img {
    padding: 0vw 0 0vw 7vw;
}
section.saudefisica div h2 {
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    padding: 0 0 2vw 0;
    margin-top: 5vw;
    line-height: 110%;
    margin-right: 3vw;
}

section.saudefisica div p {
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 1.5vw;
    font-weight: bold;
    padding: 3vw 3vw 0 0;

}

section.saudefisica div img {
    height: 48vw;
}

section.saudefisica div a {
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}


/* ATIVIDADE FISICA*/
section.atvF {
    background-color: #2CABA6;
    color: white;
    padding: 6vw;
}
section.atvF div{

    justify-content: right;
    gap: 3vw;  
}
section.atvF div p{
    font-size: 2vw;
}
.atvF div ul li {
     padding: 1.3vw 10vw;
     background-color: #F436A0;
     margin-bottom: 3vw;
     border-radius: 5vw;
}
section.atvF div h3{
    font-size: 1.7rem;
}
strong {
    font-weight: bold;
}
section.atvF p{
    font-size: 2vw;
}

section.atvF div.container{
    display: flex;
    align-items: center;
}
.info p {
    margin-bottom: 3vw;
}
.container {
    display: flex;
}
