
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}
nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #2CABA6;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}

header nav ul li:hover ul {
    display: block;
    background-color: gray;
}

header nav ul li ul {
    position: absolute;
    display: none;
}

section.saudefisica{
    display: flex;
    background-color: #236C74;
}
section.saudefisica div{
    padding: 0vw 0 0vw 7vw;
}
section.saudefisica div h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: #F38E34;
    padding: 0 0 2vw 0;
    margin-top: 7.5vw;
    line-height: 110%;
    margin-right: 3vw;
}
section.saudefisica div p{
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 1.5vw;
    font-weight: bold;

}
section.saudefisica div img{
    height: 35vw;
}
section.atividadefisica{
    background-color: #2CABA6;
    display: flex;
    height: 50vw;
}
section.atividadefisica div{
    color: #ffffff;

}
section.atividadefisica h2{
    padding-left: 200%;
    font-size: 3rem;
}
section.atividadefisica h2 strong{
    line-height: 140%;
}
section.atividadefisica h2 strong.atv{
    background-color: #F436A0;
}
section.atividadefisica h2 strong.fisica{
    background-color: #F436A0;
}
section.atividadefisica div p.um{
    font-weight: bold;
    padding: 2vw 10vw 0 2vw;
    font-size: 1.5rem;
    line-height: 110%;
}
section.atividadefisica div p.dois{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 110%;
}