html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}

nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    background-color: #391665;
}

body {
    margin: 0;
    padding: 0;
    background-color: #391665;
}

/* === TOPO === */



header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #9F68E4;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}


header nav h1 a {
    display: flex;
    align-items: center;
}


header nav div ul {
    display: flex;
}


header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}


header nav ul li:hover ul {
    display: block;
    border-radius: 0.3vw;
    background-color: white;
    line-height: 3vw;
}

header nav ul li:hover ul li a {
    color: #3c0a5a;
}

header nav ul li ul {
    position: absolute;
    display: none;
}

header nav ul li ul li {
    color: #391665;
}

header nav ul li ul li a:hover {
    background-color: #3c0a5a;
    color: white;
}

/* =================================
            PRIMEIRA SEÇÃO
   ================================= */

.banner-saude {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F38E34;
    border-radius: 0 0 7vw 7vw;
    padding: rem 6rem;
    margin: 2rem auto;
    color: white;
    overflow: hidden;
    height: 40vw;
}

.banner-texto {
    flex: 1;
}

.banner-texto h2 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
    color: white;
}

.banner-texto p {
    font-size: 1.7rem;
    font-weight: 300;
    color: #ffe0c2;
    max-width: 300px;
}

.banner-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* mantém grudada embaixo */
    /* evita ultrapassar o container */
}

.banner-imagem img {
    width: 50vw;
    /* defina um valor fixo próximo ao do Figma */
    height: auto;
}

/* ==============================
           SEGUNDA SEÇÃO
   ============================== */

.relaxamento {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B10072;
    padding: 40px;
    gap: 30px;
    font-weight: 1;
}

.relaxamento img {
    width: 500px;
    border-radius: 15px;
}

.relaxamento div:last-child {
    background-color: #391665;
    color: white;
    padding: 1vw 5vw;
    border-radius: 2vw;
    max-width: 400px;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;

}

.relaxamento strong {
    font-weight: 900;
}



/* ====================================
             TERCEIRA SEÇÃO
   ==================================== */

section.lista {
    padding: 2vw;
    text-align: center;
    color: white;
    border-radius: 2vw;
}

section.lista h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3vw;
    text-shadow: 7px 7px 9px #391665;
}

section.lista div {
    background-color: #3c0a5a;
    border-radius: 15px;
    padding: 2vw;
    text-align: left;
    margin: 0 auto;
}

section.lista h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

section.lista img {
    width: 6vw;
    height: 4vw;
    display: flex;
    margin: 0 0 0 1vw;
}

section.lista p {
    margin: 10px 0;
    line-height: 2.6rem;
    font-size: 2rem;
}

section.lista strong {
    font-weight: bold;
}

section.lista ul {
    margin: 10px 0 0 20px;
    padding: 0;
    color: white;
}

section.lista li {
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2.6rem;
}

section.lista div.meditacao p {
    margin-bottom: 2vw;
}

section.lista div.muscular p {
    margin-bottom: 2vw;
}

section.lista div.muscular li {
    margin-bottom: 30px;
}

section.lista div.respiracao p {
    margin-bottom: 2vw;
}

section.lista div.respiracao li {
    margin-bottom: 30px;
}

section.lista div.alongamento p {
    margin-bottom: 2vw;
}

section.lista div:nth-child(2) {
    margin-top: 2vw;
}

section.lista div:nth-child(3) {
    margin-top: 2vw;
}

section.lista div:nth-child(4) {
    margin-top: 2vw;
}

section.lista div:nth-child(5) {
    margin-top: 2vw;
}

section.playlists {
    color: white;
    font-size: 1rem;
    margin: 3vw 0 4vw 3vw;
}

/* FOOTER */
footer {
    background-color: #431A78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem;
    margin: 0;
}

footer a.logo img {
    height: 4rem;
    width: 4rem;
    margin: 0 0 0 2rem;
}

footer ul {
    display: flex;
}

footer ul li {
    justify-content: space-between;
}

footer ul img {
    height: 3rem;
    width: 3.2rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}