html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
    text-decoration: none;
    overflow-x: hidden;
}

nav a.Home {
    text-decoration: none;
    color: white;
  
    
    display: flex;

}

.Home img {
    width: 30px;
 transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.Home:hover img {
  transform: rotate(180deg);

}




button {
    text-decoration: none;
}


body {
    background-color: #F9E6D0;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

}

nav a {
    text-decoration: none;
    color: white;

}

/* === TOPO === */

header {
    padding: 2vw 6vw 2vw 8vw;
    background-color: #237470;
    position: relative;
    z-index: 99999 !important;
    pointer-events: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav h1 a {
    display: flex;
    align-items: center;
}

header nav div ul {
    display: flex;
}

header nav div ul li {
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}


header nav ul li:hover ul  {
    display: block;
    border-radius: 20px;
    background-color: white;
    line-height: 2vw; 
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;




}


.atual {
  font-weight: bold;
}

header nav ul li:hover ul li a {
    color: #237470;
    
}

header nav ul li ul {
    position: absolute;
    display: none;
}

header nav ul li ul li {
    color: #391665;
}

header nav ul li ul li a:hover {
  
    border-radius: 15px;
    padding: 0.2vw;
    color: #237470;
}

  /* sobre nos */
  section.sobrenos {
    background: #ffffff;
    border: 4px solid #145a32;
    border-radius: 20px;
    margin: 3rem auto;
    padding: 2rem;
    max-width: 74vw;
    transform: scale(1.1);
    text-align: center;
  }
  
  section.sobrenos h2 {
    color: #145a32;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }
  
  section.sobrenos p {
    line-height: 2.8vw;
    font-size: 1.1rem;
  }
  
  /* projeto */
  section.nossoprojeto {
    background: #ffffff;
    border-radius: 20px;
    margin: 2rem auto;
    max-width: 74vw;
    padding: 2rem 2.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  }
  
  section.nossoprojeto h3, section.nossoprojeto h2 {
    color: #145a32;
  }
  .nossoprojeto h3{
    font-weight: 500;
  }
  .nossoprojeto h2{
    margin-bottom: 1vw;
    font-weight: 800;
  }
  .nossoprojeto h3.nosso{
    margin-bottom: 1vw;
    font-weight: 900;
  }
  
  section.nossoprojeto p {
    line-height: 1.8vw;
    margin-bottom: 2vw;
  }
  /* nos */
  section.nos {
    background: #ffffff;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 76vw;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);

  }
  
  section.nos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  section.nos li {
    background-color: #e4d6c4;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1.2rem;
    width: 200px;
    text-align: center;
  }
  .nos li h3{
    margin-bottom: 1vw;
    font-weight: 300;
  }

  .nos div ul li {
    
      transition: 0.2s;
  }

  .nos div ul li:hover {
  transform: scale(1.1);
  }

  section.nos img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10vw;
    margin-bottom: 0.8rem;
    border: 3px solid #26734d;
  }
  
 
/* FOOTER */
footer  {
    display: flex;
       
        gap: 20px;
       align-items: center;
       text-align: center;
       justify-content: center;
        background-color: #237470;
        padding: 1vw;
        color: #fff;
      
    }
    
    footer a {
         display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        background-color: white;
        color: #1a6a6a;
        border-radius: 50%;
        font-size: 1.3rem;
        transition: all 0.3s ease;
        text-decoration: none;
    }
    
    footer a:hover {
         background: linear-gradient(135deg, #00b7ff, #007777);
        color: white;
        transform: scale(1.1);
        box-shadow: 0 0 10px #00b7ff;
    }
    
    footer .insta:hover {
        background: radial-gradient(circle at 30% 107%, 
            #fdf497 0%, 
            #fdf497 5%, 
            #fd5949 45%, 
            #d6249f 60%, 
            #285AEB 90%);
        color: white;
        box-shadow: 0 0 15px rgba(253, 89, 73, 0.6);
        }
    
    
        .X:hover {
            background: linear-gradient(135deg, #302f2f, #000);
        color: white;
        transform: scale(1.1);
        box-shadow: 0 0 10px #000;
        }
    
        .nos {
            font-size: 25px;
           padding: 1vw;
        }
        .social {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    
    .icons {
      display: flex;
      justify-content: center;
      gap: 20px; 
    }
    .direitos {
        padding: 1vw;
    }
    .direitos i {
        transition: 0.3s;
    }
    .direitos i:hover {
        color: red 
    }  
      /* RESPONSIVIDADE */
    
      @media (max-width: 768px) {
        section.nossoprojeto p, .nossoprojeto li p {
        line-height: 3vw;
        }
        .sobrenos p{
        line-height: 4vw;
        }
        section.nos ul {
        align-items: center;
        }
      
        section.nos li {
         width: 80%;
        }
        .nossoprojeto p{
         line-height: 3vw;
    }
}