
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.8vw);
}
nav a.Home {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
 
}
/* === TOPO === */

header{
    padding: 2vw 6vw 2vw 6vw;
    background-color: #451B7A;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav h1{
    font-size: 1.5rem;
    font-weight: bold;
}
header nav h1 a{
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 0 10px 0 10px;
    padding: 0 15px 0 15px;
}

/* === Parte Um === */

section.parteUm{
background-color: #451B7A;
}
section.parteUm ul{
    text-align: center;
}

section.parteUm ul li{
padding: 2vw 4vw 2vw 4vw;
background-color: #FDEEFF;
border-bottom-left-radius: 70px;
border-bottom-right-radius: 70px;
display: flex;
}
section.parteUm ul.imagens li{
    width: 238px ;
    height: 458px;
    box-sizing: border-box;
}
section.parteUm ul.imagens li p{
    text-align: center;
    padding: 30% 0 0 0;
    
}
section.parteUm ul.imagens {
display: flex;
gap: 20px;
padding: 0 0 0 30.8vw;
}
section.parteUm ul.imagens li.saude{
background: url(../src/images/blackpower.png);
padding: 17vw 0 0 3.4vw;
}
section.parteUm ul.imagens li.corpo{
background: url(../src/images/muiecomhalter.png);
padding: 17vw 0 0 3.4vw;
}
section.parteUm ul.imagens li.mente{
background: url(../src/images/bksedu.png);
padding: 17vw 0 0 3.4vw;
}
section.parteUm ul.imagens li.saude button {
    background-color: #F38E34;
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border: none;
    border-radius: 11px;
    font-size: 0.9rem;
}
section.parteUm ul.imagens li.corpo button {
    background-color: #338B96;
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border: none;
    border-radius: 11px;
    font-size: 0.9rem;
}
section.parteUm ul.imagens li.mente button {
    background-color: #9A282A;
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;
    border: none;
    border-radius: 11px;
    font-size: 0.9rem;
}
section.parteUm div{
text-align: left;
padding: 0 0 0 5vw;
}
section.parteUm div h2{
font-size: 2rem;
color: #431A78;
font-weight: bold;
}
section.parteUm div p {
    color: gray;
    padding: 2vw 0 1vw 0;
    font-size: 0.9rem;
}
section.parteUm div button {
padding: 0.7vw 3vw 0.7vw 3vw;
font-weight: bold;
background-color: #451B7A;
border: none;
border-radius: 26px;
font-size: 0.7rem;
}
section.parteUm div button a {
color: white;
text-decoration: none;
}